<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<section>
   <h1>Liste des transactions</h1>
   <p>

        <table class="table">
            <tr>
                <th>ID transaction</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Description</th>
                <th>Compte</th>
                <th></th>

            </tr>
            {{#each table_transactions}}
                <tr>
                    <td>{{this.id_transaction}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.montant}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.id_compte}}</td> 
                    <td>
                        <form action="transactions/details"> 
                            <input type="hidden" name="id_transaction" value={{this.id_transaction}}>
                            <input type="submit" value="Détails">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="transactions/delete">
                            <input type="hidden" name="id_transaction" value={{this.id_transaction}}>
                            <input type="submit" value="Supprimer">
                        </form>
                    </td>
                </tr>
            {{/each}}
        </table>
   </p>

    <p>
        <table class="table">
            <tr>
                <th>ID catégorie</th>
                <th>Type</th>
                <th>Montant</th>
            </tr>
            {{#each table_categories}}
                <tr>
                    <td>{{this.id_categorie}}</td>
                    <td>{{this.type}}</td>
                    <td>{{this.montant_prevu}}</td>
                </tr>
            {{/each}}
        </table>
    </p>
</section>

