<section>
<!-- Inclure les scripts Bootstrap et autres scripts ici -->
<script>
    function toggleFormAdd() {
        const addForm = document.getElementById("categoryForm");
        if (addForm.style.display === "none" ){
            addForm.style.display = "block";
        }else{
            addForm.style.display = "none";
        }
    }
    function toggleFormUpdate() {
        const updateForms = document.querySelectorAll(".updateForm");
        updateForms.forEach(form => {
            if (form.style.display === "none" ){
                form.style.display = "block";
            }else{
                form.style.display = "none";
            }
        });
    }
</script>

<div class="container mt-5">
    <!-- Tableau Liste des catégories -->
    <h1>Liste des catégories</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Montant prévu par mois (default)</th>
                <th>Description</th>
                <th>Montant total</th>
                <th>Moyenne par mois</th>
            </tr>
        </thead>
        <tbody>
        {{#each table_categories}}
            <tr>
                <td>{{this.nom}}</td>
                <td>{{this.type}}</td>
                <td>{{this.montant_prevu}}</td>
                <td>{{this.description}}</td>
                <td>{{this.montant_total}}</td>
                <td>{{this.moyenne_par_categorie}}</td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="toggleFormUpdate();">Modifier</button>
                </td>
            </tr>
<form class="updateForm" style="display: none;">
    <div class="form-group">
        <label for="nom">Nom de la catégorie :</label>
        <input type="text" class="form-control" id="nom" name="nom" required value="{{this.nom}}">
    </div>
    <div class="form-group">
        <label for="type">Type :</label>
        <label name="type">{{this.type}} </label>
    </div>
    <div class="form-group">
        <label for="montant_prevu">Montant prévu :</label>
        <input type="number" step="0.01" class="form-control" id="montant_prevu" name="montant_prevu" value="{{this.montant_prevu}}" required>
    </div>
    <div class="form-group">
        <label for="description">Description :</label>
        <input type="text" class="form-control" id="description" name="description" required value="{{this.description}}">
    </div>
    <p></p>
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
        {{/each}}
        </tbody>
    </table>
</div>
<!-- Bouton pour afficher/masquer le formulaire -->
<button type="button" class="btn btn-primary" onclick="toggleFormAdd();">Ajouter une catégorie</button>

<p></p>

<!-- Formulaire d'ajout de catégorie (initialisé masqué) -->
<form id="categoryForm" style="display: none;">
    <div class="form-group">
        <label for="nom">Nom de la catégorie :</label>
        <input type="text" class="form-control" id="nom" name="nom" required>
    </div>
    <div class="form-group">
        <label for="type">Type :</label>
        <select class="form-control" id="type" name="type" required>
            <option value="d">Dépense</option>
            <option value="r">Revenu</option>
        </select>
    </div>
    <div class="form-group">
        <label for="montant_prevu">Montant prévu :</label>
        <input type="number" step="0.01" class="form-control" id="montant_prevu" name="montant_prevu" required>
    </div>
    <div class="form-group">
        <label for="description">Description :</label>
        <input type="text" class="form-control" id="description" name="description" required>
    </div>
    <p></p>
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>



</section>