<section>
   <h1>Liste des transactions</h1>
   <p>

        <table>
            <tr>
                <th>ID transaction</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Compte</th>
                <th>Catégorie</th>
                <th></th>

            </tr>
            {{#each table_transactions}}
                <tr>
                    <td>{{this.id_transaction}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.montant}}</td>
                    <td>{{this.categorie}}</td>
                    <td>{{this.compte}}</td> 
                    <td>
                        <form action="transactions/details"> 
                            <input type="hidden" name="id_transaction" value={{this.id_transaction}}>
                            <input type="submit" value="Détails">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="transactions/delete">
                            <input type="hidden" name="id_transaction" value={{this.id_transaction}}>
                            <input type="submit" value="Supprimer">
                        </form>
                    </td>
                </tr>
            {{/each}}
            <tr>
                <form action="transactions/add">
                        <td><input type="text" name="n_date">Date</td>
                        <td><input type="text" name="n_montant">Montant</td>
                        <td>
                            <input type="select" name="n_categorie">
                                {{#each table_categories}}
                                    <option value="{{this.id_categorie}}">{{this.nom}}</option>
                                {{/each}}
                            </input>
                        </td>
                        <td>
                             <input type="select" name="n_compte">
                                {{#each table_comptes}}
                                    <option value="{{this.id_compte}}">{{this.nom}}</option>
                                {{/each}}
                            </input>
                        </td>
                        <td><input type="submit" value="Ajouter"></td>
                </form>
           </tr>
        </table>
   </p>

</section>

